table {
    table-layout: fixed;
}

table td {
    overflow: hidden;
}

.container .image {
    width: 90%;
    height: 350px;
    background-color: #aaa;
}
#text {
    text-align: center;
    vertical-align:middle;
}

.content {
    padding-top: 2rem;
}

.content p {
    font-size: 1.2rem;
    color: rgb(10, 9, 9);
    margin-bottom: 1.4rem;
    
}

.content .header {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #333;
    margin-bottom: 1.3rem;
    font-family: arial, sans-serif;

}

.btn {
    padding: 0.6rem 1.3rem;
    border: 0.6px solid #333;
    border-radius: 0.2rem;
}