 .container {
    width: 100%;
    text-align: center;
}

.text h1 {
    color: #2d3032;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;

}

.container h1 span {
    color: #00aeef;
}

.container p {
    color: #040708;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.container .btn-group input{
    background-color: #2d3032;
    padding: 1rem 1.8rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    color:#FFF;
    border:none;outline: none;
    margin:0.5rem;
}